# Feature Scaling
Standardization & Normalization

In [7]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [3]:
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
df2 = df[['survived','pclass','age','parch']]
df2.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [5]:
df3 = df2.fillna(df2.mean())

In [6]:
X = df3.drop("survived",axis=1)    # X is matrix (for independent variable)
y = df3["survived"]   # y is vector (for dependent variable)
print('shape of X : ',X.shape)
print('shape of y : ',y.shape)

shape of X :  (891, 3)
shape of y :  (891,)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=51)
print('shape of X_train : ',X_train.shape)
print('shape of y_train : ',y_train.shape)
print('shape of X_test : ',X_test.shape)
print('shape of y_test : ',y_test.shape)

shape of X_train :  (712, 3)
shape of y_train :  (712,)
shape of X_test :  (179, 3)
shape of y_test :  (179,)

In [9]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [10]:
sc.mean_

array([ 2.30617978, 29.55409121,  0.39185393])

In [11]:
sc.scale_

array([ 0.84405789, 12.99162985,  0.79647463])

In [13]:
X_train_sc = sc.transform(X_train)
X_test_Sc = sc.transform(X_test)

In [14]:
X_train_sc

array([[-1.75837972, -2.30776312, -1.1096893 ],
       [-1.75837972, -2.12113234, -1.1096893 ],
       [-1.75837972, -2.38478535, -1.1096893 ],
       ...,
       [-1.75837972, -2.16556824,  3.61939826],
       [-1.75837972, -2.27399706,  0.46667322],
       [-1.75837972, -2.28110158, -1.1096893 ]])

In [21]:
X_train_sc = pd.DataFrame(X_train_sc,columns=['pclass','age','parch'])
X_test_sc = pd.DataFrame(X_train_sc,columns=['pclass','age','parch'])

In [22]:
X_train_sc

      pclass       age     parch
0   -1.75838 -2.307763 -1.109689
1   -1.75838 -2.121132 -1.109689
2   -1.75838 -2.384785 -1.109689
3   -1.75838 -2.343312 -1.109689
4   -1.75838 -2.273997  2.043036
..       ...       ...       ...
707 -1.75838 -2.218891 -1.109689
708 -1.75838 -2.273997  0.466673
709 -1.75838 -2.165568  3.619398
710 -1.75838 -2.273997  0.466673
711 -1.75838 -2.281102 -1.109689

[712 rows x 3 columns]

In [23]:
X_train_sc.describe().round(2)

       pclass     age   parch
count  712.00  712.00  712.00
mean    -2.73   -2.27   -0.49
std      1.19    0.08    1.26
min     -4.57   -2.45   -1.11
25%     -3.51   -2.32   -1.11
50%     -1.76   -2.27   -1.11
75%     -1.76   -2.24   -1.11
max     -1.76   -2.03    6.77

In [24]:
mmc = MinMaxScaler()
mmc.fit(X_train)

MinMaxScaler()

In [25]:
X_train_mmc = mmc.transform(X_train)
X_test_mmc = mmc.transform(X_test)

In [26]:
X_train_mmc

array([[1.        , 0.33408898, 0.        ],
       [1.        , 0.78039105, 0.        ],
       [1.        , 0.14990082, 0.        ],
       ...,
       [1.        , 0.67412865, 0.6       ],
       [1.        , 0.4148359 , 0.2       ],
       [1.        , 0.39784642, 0.        ]])

In [27]:
X_train_mmc = pd.DataFrame(X_train_mmc,columns=['pclass','age','parch'])
X_test_mmc = pd.DataFrame(X_train_mmc,columns=['pclass','age','parch'])

In [28]:
X_train_sc.describe().round(2)

       pclass     age   parch
count  712.00  712.00  712.00
mean    -2.73   -2.27   -0.49
std      1.19    0.08    1.26
min     -4.57   -2.45   -1.11
25%     -3.51   -2.32   -1.11
50%     -1.76   -2.27   -1.11
75%     -1.76   -2.24   -1.11
max     -1.76   -2.03    6.77