# Data Cleaning using SimpleImputer (Scikit-Learn)

In [29]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

# show all rows and all columns
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [6]:
df = pd.read_csv(r"C:\Users\user\Pictures\PYTHON_PANDAS\banglore.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
X_train = df.drop(columns='price')
y_train = df["price"]
print("shape of train data : ",X_train.shape )
print("shape of test data : ",y_train.shape )

shape of train data :  (13320, 8)
shape of test data :  (13320,)

# 1)Numerical missing value imputation

In [8]:
num_vars = X_train.select_dtypes(include=["int64","float64"]).columns
num_vars

Index(['bath', 'balcony'], dtype='object')

In [17]:
df[num_vars].isnull().sum()

bath        73
balcony    609
dtype: int64

In [12]:
imputer_mean = SimpleImputer(strategy="mean")
imputer_mean

SimpleImputer()

In [13]:
imputer_mean.fit(X_train[num_vars])

SimpleImputer()

In [14]:
imputer_mean.statistics_     #find which values will fill

array([2.69260965, 1.58437574])

In [15]:
 X_train[num_vars] = imputer_mean.transform(X_train[num_vars])

In [18]:
X_train[num_vars].isnullll().sum()

bath       0
balcony    0
dtype: int64

# 2) Categorical Missing Value Imputation

In [20]:
cat_vars = X_train.select_dtypes(include=["object"]).columns
cat_vars

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft'],
      dtype='object')

In [21]:
X_train[cat_vars].isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
dtype: int64

In [22]:
X_train.drop(columns='society',inplace=True)   #drop sociwty columns beacuse of more then 20% NanN value
X_train.columns

Index(['area_type', 'availability', 'location', 'size', 'total_sqft', 'bath',
       'balcony'],
      dtype='object')

In [24]:
cat_vars = X_train.select_dtypes(include=["object"]).columns

X_train[cat_vars].isnull().sum()

area_type        0
availability     0
location         1
size            16
total_sqft       0
dtype: int64

In [25]:
imputer_mode = SimpleImputer(strategy = "most_frequent")

In [26]:
imputer_mode.fit(X_train[cat_vars])

SimpleImputer(strategy='most_frequent')

In [27]:
X_train[cat_vars] = imputer_mode.transform(X_train[cat_vars])

In [28]:
X_train[cat_vars].isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
dtype: int64